* {
    background-color: rgb(247, 237, 237);
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 3rem;
}


#add {
    position: fixed;
    top: 1rem;
    right: 1rem;
    text-align: right;
    color: white;
    background-color: rgb(237, 164, 104);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}


.note {
    background-color: rgb(247, 237, 237);
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin: 30px 20px;
    height: 400px;
    width: 350px;
    display: inline-flexbox;
}


.note .note-buttons {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 0.5rem;
}

.note .note-buttons .title {
    border: 1px solid black;
    background-color: white;
    padding: 5px;
    margin-bottom: 5px;
    padding-right: 80px;
}



.note .note-buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.3rem;
}

.note textarea {
    background-color: rgb(142, 147, 170);
    outline: none;
    font-family: inherit;
    font-size: 1rem;
    height: 400px;
    width: 100%;
    padding: 20px;
    border: none;
}



.main {
    padding: 20px;
}

.hidden {
    display: none;
}